<!DOCTYPE html>
<html>
  <head>
    <title>Kidflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/142f4c50a7.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.logoUrl = "<%= image_url("kidflix_logo.png") %>";
      window.wallpaperUrl = "<%= image_url("wallpaper.jpg") %>"
      window.trueUrl = "<%= image_url("true.png") %>"
      window.true2Url = "<%= image_url("true2.jpg") %>"
      window.avatarUrl = "<%= image_url("greenAv.png") %>"
    </script>
     <% if current_user %>
        <script>
          window.currentUser = {
            "id": <%= current_user.id %>,
            "email": "<%= current_user.email %>"
          }
        </script>
    <% end %>

     <meta property="og:title" content="Kidflix" />
     <meta property='og:image' content="<%= image_url('kidflix_logo.png') %>"/>
     <meta property="og:description"
       content="Kidflix is a Netflix clone designed for kids like mine who has deep love for great TV shows and more..."
     />
     <meta property="og:url"
       content="https://kidflix.herokuapp.com/"
     />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
